<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Burger Biter</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
    <div class="text-center">
        <img src="https://i.pinimg.com/originals/2d/e2/07/2de207f0b5203c786b748541057a5df3.jpg">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 text-center">
                <form>
                    <input class="form-control form-control-lg burger" type="text" placeholder="Burger Order Goes Here!">
                    <button type="button" class="orderBTN btn btn-danger btn-lg">
                        <a href="index">Place Order</a>
                    </button>
                </form>
            </div>
        </div>
        <div class="row">
            {{{body}}}
        </div>
    </div>

    {{!-- jquery CDN --}}
    <script src="https://code.jquery.com/jquery.js"></script>
    {{!-- bootstrap CDN --}}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    {{!-- InLine script --}}
    <script>
        $(document).ready(() => {
            let orderBTN = $(".orderBTN");

            orderBTN.on("click", () => {
                console.log($('.burger').val().trim())
                $.ajax({
                    url:"http://localhost:8080/burgers",
                    method:'POST',
                    data:{
                        name:$('.burger').val()
                    }

                }).then((res)=>{
                    console.log("done");
                })
            })
        })
    </script>
    <style>
        body {
            background-color: #F3EE10;
        }
    </style>

</html>