<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Burger Biter</title>
    <style link="#"></style> {{!-- Bootstrap CDN--}}
</head>
<body>
    <h1>Welcome to Bob's Burgers!</h1>
    <h4>Bob will make any burger of any name! But Will you eat it?</h4>
    <form>
        <input type="text" placeholder="Burger Name Goes Here!">
        <button type="submit">PLACE ORDER</button>
    </form>
    <button>View DB</button>
    {{{body}}}
    {{!-- <script> JQUERY CDN</script> --}}
    <script></script>
</body>
</html>