<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Burger Biter</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
    <div class="view">
        {{{body}}}
    </div>
    {{!-- jquery CDN --}}
    <script src="https://code.jquery.com/jquery.js"></script>
    {{!-- bootstrap CDN --}}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    {{!-- InLine script --}}
    <script>
        $(document).ready(() => {
            // acquire DOM buttons
            let orderBTN = $(".orderBTN");



            // POST: passes data to post route to add new burger
            orderBTN.on("click", (event) => {
                event.preventDefault();
                $.ajax({
                    url: "http://localhost:8080/burgers",
                    method: 'POST',
                    data: {
                        name: $('.burger').val().trim()
                    }
                }).then((res) => {
                    alert("Order placed!");
                    location.reload();
                    reloadButtons();
                })
            })
            let reloadButtons = () => {
               $(".devour").on("click", (event)=>{
                   let id = event.target.name
                    $.ajax({
                            url: "http://localhost:8080/burgers/" + id,
                            method: "PUT"
                        }).then(alert("burger eaten!"));
                        location.reload();
                        reloadButtons();
                   //console.log($(this).attr("data-id"));
                   //console.log($(this).data("id"));)
               })
            }

            let devour = () => {
                //pseudo code
                // select updated <li>'s generated from data base and append button on to each that when clicked updates the DB 
                /*
                    let update = $('<button>', 
                        {
                            text:"Devour",
                            click: (event)=>{
                                 event.preventDefault();
                                 $.ajax({
                                     url: "http://localhost:8080/update/:id",
                                     method: 'POST',
                                     data: {
                                         name: $('.burger').val().trim()
                                        }
                                    }).then((res) => {
                                        alert("Order placed!");
                                        reloadView();
                                })
                            }
                        })
                    $(.orders).append()
                    
                */

            }
            reloadButtons();
        })
    </script>
    <style>
        body {
            background-color: #F3EE10;
        }
    </style>

</html>